<div data-code-box data-no-buttons class="u-mb-2">
    <pre data-code data-code-highlight="3-5"><code class="language-java">public class ExampleController extends HttpController {
    public ExampleController() {
        // For unimplemented methods, an error page will not be sent;
        // instead, the request routing will continue to the next handlers/controllers.
        this.skipUnimplementedMethods = true;
    }

    @Override
    protected void handleGet(HttpServletRequest request, HttpServletResponse response) throws Exception {
        forwardTo("/WEB-INF/jsp/ExamplePage.jsp", request, response);
    }
}</code></pre>
</div>